.App {
    font-family: sans-serif;
    text-align: center;
    
  }
  ul.LegendList{
    padding: 0;
    margin-top: 2rem;
  }
  
  .LegendList {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    list-style: none; /* Remove default bullets */
    display: flex;
    /* justify-content: space-between; */
    
    width: 100%;
  }
  
  .LegendList li {
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* justify-content: center; */
    /* align-items: flex-start; */
  }
  
  .BulletLabel {
    display: flex;
    align-items: center;
  }
  
  .CirecleBullet {
    border-radius: 50%;
  }
  
  .BulletLabelText {
    margin-left: 10px;
    color: white;
  }
  
  .CenteredLabelValue {
    font-size: 36px;
    font-weight: 600;
    fill: #0088fe;
  }
  