@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4A00E0;
  --secondary-color: #F5F5F5;
  --dark-color: #000000;
}

.logo h3 {
  left: 23px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-color);
}

.sign-input {
  margin-top: 20px;
  padding: 0px 60px 0px 60px;
}

.sign-txt .form-heading {
  line-height: 65px;
}
.sign-txt h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 7px;
  color: red;
  color: var(--dark-color);
}
.sign-txt h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}
.sign-txt h3 a {
  text-decoration: none;
  font-weight: 700;
  color: #0C21C1;
}
.sign-txt h3 a :hover {
  color: #000842;
}

.form-control:focus {
  border-color: var(--dark-color);
  box-shadow: none;
}

.form .pass-icon {
  position: relative;
  margin-top: -28px;
  text-decoration: none;
}
.form .pass-icon i {
  color: #383535;
}
.form form a {
  float: right;
}
.form input {
  outline: none;
}
.form input :focus {
  outline: none;
  border-bottom: 2px solid var(--dark-color);
}
.form button {
  height: 53px;
  width: 100%;
  background: linear-gradient(180deg, #8E2DE2 0%, #4A00E0 100%);
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  margin-top: 5px;
}
.form input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  width: 35rem;
  border-radius: 0%;
  border-bottom: 2px solid #999999;
  padding-left: 25px;
}
.form input::-moz-placeholder {
  color: #000842;
  font-weight: 400;
  font-size: 16px;
}
.form input::placeholder {
  color: #000842;
  font-weight: 400;
  font-size: 16px;
}
.form .input-icons {
  position: absolute;
  margin-top: 42px;
  color: #000842;
}
.form label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #999999;
}
.form .check-box {
  margin-top: 20px;
}
.form .check-box .checkbox {
  height: 15px;
  width: 15px;
}
.form .check-box a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  color: #4D4D4D;
}
.form .check-box a:hover {
  color: #0C21C1;
  text-decoration: underline;
  transition: 0.5s;
}
.form .check-box span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 2px;
  color: #4D4D4D;
}

.socail-icons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socail-icons p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #B5B5B5;
}
.socail-icons .icon ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.socail-icons li .s-icon {
  margin-left: 10px;
}
.socail-icons li img {
  width: 40px;
  height: 40px;
}

.imgs {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  height: 98vh;
  width: 100%;
}
.main-image .img-background {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #8E2DE2 0%, #4A00E0 100%);
  border-radius: 15px;
}
.main-image .side-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-image .side-img img {
  width: 95%;
}

.signup-input {
  margin-top: 0px;
  padding: 0px 60px 0px 60px;
}

.signup-heading {
  line-height: 50px;
}

.form-section h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-color);
  align-items: center;
  justify-content: center;
  display: flex;
}
.form-section h4 a {
  text-decoration: none;
  font-weight: 700;
  color: #0C21C1;
  margin-left: 6px;
}

.forgot-page-txt .form-heading {
  line-height: 65px;
}
.forgot-page-txt h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 7px;
  color: red;
  color: var(--dark-color);
}
.forgot-page-txt h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
}
.forgot-page-txt h3 a {
  text-decoration: none;
  font-weight: 700;
  color: #0C21C1;
}
.forgot-page-txt h3 a :hover {
  color: #000842;
}

@media (max-width: 992px) and (min-width: 1px) {
  .imgs {
    display: none;
  }
  .form form .check-box {
    margin-top: 30px;
  }
}
@media (max-width: 600px) and (min-width: 0px) {
  .sign-input, .signup-input {
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
  }
  .form form .check-box {
    margin-top: 30px;
  }
}
@media (max-width: 390px) and (min-width: 310px) {
  .sign-input .signup-input {
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
  }
  .form form .check-box {
    margin-top: 30px;
  }
  .form form .check-box .checkbox {
    height: 10px;
    width: 10px;
  }
  .form form .check-box {
    margin-top: 20px;
  }
  .form form .check-box a {
    font-size: 12px;
  }
  .form form .check-box span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 3px;
  }
}
@media (max-width: 310px) and (min-width: 0px) {
  .sign-input .signup-input {
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
  }
  .form form .check-box {
    display: inline;
    margin-top: 30px;
  }
  .form form .check-box .checkbox {
    height: 10px;
    width: 10px;
  }
  .form form .check-box {
    margin-top: 20px;
  }
  .form form .check-box a {
    font-size: 10px;
  }
  .form form .check-box span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 3px;
  }
}
@media (max-width: 430px) and (min-width: 0px) {
  .forgot-page-txt h4 {
    font-size: 22px;
    margin-bottom: 0px;
  }
  .forgot-page-txt h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 354px) and (min-width: 0px) {
  .forgot-page-txt h4 {
    font-size: 22px;
    margin-bottom: 0px;
  }
  .forgot-page-txt h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 332px) and (min-width: 0px) {
  .forgot-page-txt h4 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .forgot-page-txt h3 {
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */