.table-style{
    border-radius: 10px;
    border: 1px solid #cfcece;
    overflow: hidden!important;
}
.table-style thead{
  background: #ededed38;
}
.css-1ynyhby {
    margin: 0!important;
    overflow: hidden;
}